body{
    background-color: burlywood;
}
h1{
    background-color: pink;
    color: blue;
}
li{
    border: 2px green;
    border-width: 5px;
    border-style: dotted;
    border-color: blue;
}
h2{
    background-color: blueviolet;
    color: yellow;
}